<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>Habit Tracker - {{title}}</title>
    {% else %}
    <title>Welcome to Habit Tracker!</title>
    {% endif %}
</head>
<body>
    <div>Habit Tracker:
        <a href="/index">Home</a>
        <a href="/auth/create-account">Create Account</a>
        <a href="/auth/login">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for messages in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>