#HabitTableDiv {
    table-layout: auto;
    margin:2vh;
}

.HabitTitleCell {
    column-width: 250px;
    line-height: 60px;
    border: inherit;
}

.MuiIconButton-root > * {
    pointer-events: none;
}

table {
    border: 1px solid black;
}

.Habit-checkbox {
    opacity:100%;
    background-color: red;
}
